<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliographie - BM DALEL</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li class="deroulant"><a href="../index.html">Accueil</a>
                <ul class="sous">
                  <li><a href="whoami.html">Qui suis-je</a></li>
                  <li><a href="agenda.html">Agenda</a></li>
                  <li><a href="ressources.html">Ressources</a></li>
                  <li><a href="bibliographie.html">Bibliographie</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="tools.html">Mes outils</a>
                <ul class="sous">
                  <li><a href="cleaning.html">Nettoyage et déprogrammation émotionnel</a></li>
                  <li><a href="sophrologie.html">La Sophrologie</a></li>
                  <li><a href="hypnose.html">L'hypnose</a></li>
                  <li><a href="cardiaque.html">Cohérence cardiaque</a></li>
                  <li><a href="coaching.html">Le Coaching</a></li>
                  <li><a href="gardon.html">La Méthode Gardon</a></li>
                  <li><a href="hijama.html">La Hijama</a></li>
                  <li><a href="iridologie.html">L'iridologie</a></li>
                  <li><a href="medecine.html">La médecine Chinoise</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="activities.html">Mes activités</a>
                <ul class="sous">
                  <li><a href="consultations.html">Consultations</a></li>
                  <li><a href="ateliers.html">Ateliers</a></li>
                  <li><a href="seminaire.html">Séminaire</a></li>
                  <li><a href="formations.html">Formations</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="price.html">Mes tarifs</a>
                <ul class="sous">
                  <li><a href="price-consultations.html">Consultations</a></li>
                  <li><a href="price-ateliers.html">Ateliers</a></li>
                  <li><a href="price-seminaires.html">Séminaire</a></li>
                  <li><a href="price-formations.html">Formations</a></li>
                </ul>
              </li>
              <li id="sous"><a href="contacts.html">Me contacter</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
      <div id="divMainHome">
        <h1>Bibliographie</h1>
        <section>
          <img src="../assets/img/eduquersanspunir.jpg" alt="Eduquer sans punir" class="imageBibliographie">
              <section class="bibliographieTitle">
                <div id="subbibliographieTitle">
                  <p>Éduquer sans punir</p>
                  <p>Apprendre  l'autodiscipline aux enfants</p>
                  <p>Thomas Gordon - Poche Marabout</p>
                  <a href="https://amzn.to/2M48xPb" target="_blank" class="buttonbibliographie"><p>Acheter dès aujourd'hui</p></a>
                </div>
              </section>
              <div class="clear"></div>
              <div class="return"></div>
              <section class="bibliographieP">
              <p><strong>Comment discipliner votre enfant d'une façon aimante mais ferme ?</strong></p>
              <p>Éduquer sans punir : voilà ce que tout parent et tout enseignant souhaitent. Même si de nombreuses recherches ont démontré les effets nocifs des punitions, <strong>la discipline reste la préoccupation première des éducateurs.</strong></p>
              <p>Or, nous savons maintenant que c'est <strong>l'autodiscipline qui apporte une plus grande satisfaction aux parents</strong> et qui réduit les troubles physiques et psychologiques chez les enfants. Il a été clairement démontré que l'autodiscipline augmente leur estime d'eux-mêmes, leur sens de l'initiative ainsi que leur réussite sociale et scolaire.</p>
              <p>A l'aide des études de cas exposées dans ce livre, vous découvrirez <strong>de nouveaux moyens susceptibles d'amener les enfants à modifier leurs comportements</strong>, et ce, sans avoir recours ni aux punitions, ni aux récompenses. Ainsi, vous les aiderez à assumer leurs responsabilités et à faire face à leurs propres difficultés.</p>
            </section>
            <div class="clear"></div>
        </section>
        <section>
          <img src="../assets/img/parentsefficace.jpg" alt="Eduquer sans punir" class="imageBibliographie">
              <section class="bibliographieTitle">
                <div id="subbibliographieTitle">
                  <p>Parents Efficaces</p>
                  <p>Une autre écoute de l'enfant</p>
                  <p>Thomas Gordon - Poche Marabout</p>
                  <a href="https://amzn.to/2M5UYyW" target="_blank" class="buttonbibliographie"><p>Acheter dès aujourd'hui</p></a>
                </div>
              </section>
              <div class="clear"></div>
              <div class="return"></div>
              <section class="bibliographieP">
              <p>Pour que vos enfants soient heureux et épanouis, pratiquez les <strong> règles d'or de la communication !</strong></p>
                <p>Bien mieux que des principes, vous trouverez dans cet ouvrage des méthodes que vous pourrez mettre directement en pratique.</p>
                <p>Un <strong>programme pratique</strong> pour résoudre tous les conflits.</p>
                <p><strong>L'écoute active :</strong> indispensable pour que l'enfant vous parle ;</p>
                <p><strong>Le langage</strong> par lequel il se sent aimé et respecté tel qu'il est ;</p>
                <p><strong>L'art de lui parler</strong> pour qu'il vous écoute à son tour ;</p>
                <p><strong>Le comportement</strong> qui l'aide à trouver et développer sa vraie personnalité.</p>
            </section>
            <div class="clear"></div>
        </section>
        <section>
          <img src="../assets/img/parentsefficaceauquotidient.jpg" alt="Eduquer sans punir" class="imageBibliographie">
              <section class="bibliographieTitle">
                <div id="subbibliographieTitle">
                  <p>Parents Efficaces au quotidien</p>
                  <p>La méthode Gordon racontée par des parents qui l'ont appliquée</p>
                  <p>Thomas Gordon - Poche Marabout</p>
                  <a href="https://amzn.to/2mX1gFU" target="_blank" class="buttonbibliographie"><p>Acheter dès aujourd'hui</p></a>
                </div>
              </section>
              <div class="clear"></div>
              <div class="return"></div>
              <section class="bibliographieP">
              <p><strong>Pour une meilleure communication avec vos enfants.</strong></p>
                <p>La célèbre méthode sans perdant est ici racontée par des parents qui l'ont appliquée avec succès. A travers leur expérience, découvrez comment :</p>
                <p>- <strong>obtenir</strong> plus de coopération et moins de conflit ;</p>
                <p>- <strong>écouter et comprendre</strong> les émotions qui bouleversent vos enfants ;</p>
                <p>- <strong>affirmer</strong> vos propres droits en respectant les leurs ;</p>
                <p>- <strong>établir</strong> ensemble des règles qui seront appliquées.</p>
                <p>Mieux que de vous donner des solutions, cet ouvrage vous propose des procédés pour les trouver vous-même, avec vos enfants.</p>
            </section>
            <div class="clear"></div>
        </section>
        <section>
          <img src="../assets/img/sortirdeanxiete.jpg" alt="Eduquer sans punir" class="imageBibliographie">
              <section class="bibliographieTitle">
                <div id="subbibliographieTitle">
                  <p>Sortir de l'anxiété avec l'EPRTH : Emotional and Physical Rebalancing Therapy</p>
                  <p>Ambre Kalène (Auteur)</p>
                  <a href="https://amzn.to/2O0qMWB" target="_blank" class="buttonbibliographie"><p>Acheter dès aujourd'hui</p></a>
                </div>
              </section>
              <div class="clear"></div>
              <div class="return"></div>
              <section class="bibliographieP">
              <p>Ce livre fait découvrir une nouvelle technique extrêmement efficace de lutte contre le stress et autres maladies par mouvement oculaires.</p>
              <p>Il ne s'agit pas d'une méthode : l'auteur dresse le panorama des différentes pathologies qu'elle a rencontré, et pour lesquels l'EPRTH s'est montré une grande efficacité son but étant de faire connaître au plus grand nombre cette discipline de plus en plus fréquemment pratiquée par les thérapeutes.</p>
            </section>
            <div class="clear"></div>
        </section>
      </div>
    </main>
    <footer id="footerMainHome">
        <p>Created by Ziyad and Enio!</p>
    </footer>
    <script src="https://kit.fontawesome.com/c1f9216a9e.js" crossorigin="anonymous"></script>
</body>
</html> 