<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Hijima - BM DALEL</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li class="deroulant"><a href="../index.html">Accueil</a>
                <ul class="sous">
                  <li><a href="whoami.html">Qui suis-je</a></li>
                  <li><a href="agenda.html">Agenda</a></li>
                  <li><a href="ressources.html">Ressources</a></li>
                  <li><a href="bibliographie.html">Bibliographie</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="tools.html">Mes outils</a>
                <ul class="sous">
                  <li><a href="cleaning.html">Nettoyage et déprogrammation émotionnel</a></li>
                  <li><a href="sophrologie.html">La Sophrologie</a></li>
                  <li><a href="hypnose.html">L'hypnose</a></li>
                  <li><a href="cardiaque.html">Cohérence cardiaque</a></li>
                  <li><a href="coaching.html">Le Coaching</a></li>
                  <li><a href="gardon.html">La Méthode Gardon</a></li>
                  <li><a href="hijama.html">La Hijama</a></li>
                  <li><a href="iridologie.html">L'iridologie</a></li>
                  <li><a href="medecine.html">La médecine Chinoise</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="activities.html">Mes activités</a>
                <ul class="sous">
                  <li><a href="consultations.html">Consultations</a></li>
                  <li><a href="ateliers.html">Ateliers</a></li>
                  <li><a href="seminaire.html">Séminaire</a></li>
                  <li><a href="formations.html">Formations</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="price.html">Mes tarifs</a>
                <ul class="sous">
                  <li><a href="price-consultations.html">Consultations</a></li>
                  <li><a href="price-ateliers.html">Ateliers</a></li>
                  <li><a href="price-seminaires.html">Séminaire</a></li>
                  <li><a href="price-formations.html">Formations</a></li>
                </ul>
              </li>
              <li id="sous"><a href="contacts.html">Me contacter</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
        
    </main>
    <footer id="footerMainHome">
        <p>Created by Ziyad and Enio!</p>
    </footer>
    <script src="https://kit.fontawesome.com/c1f9216a9e.js" crossorigin="anonymous"></script>
</body>
</html>