<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outils - BM DALEL</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li class="deroulant"><a href="../index.html">Accueil</a>
                <ul class="sous">
                  <li><a href="whoami.html">Qui suis-je</a></li>
                  <li><a href="agenda.html">Agenda</a></li>
                  <li><a href="ressources.html">Ressources</a></li>
                  <li><a href="bibliographie.html">Bibliographie</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="tools.html">Mes outils</a>
                <ul class="sous">
                  <li><a href="cleaning.html">Nettoyage et déprogrammation émotionnel</a></li>
                  <li><a href="sophrologie.html">La Sophrologie</a></li>
                  <li><a href="hypnose.html">L'hypnose</a></li>
                  <li><a href="cardiaque.html">Cohérence cardiaque</a></li>
                  <li><a href="coaching.html">Le Coaching</a></li>
                  <li><a href="gardon.html">La Méthode Gardon</a></li>
                  <li><a href="hijama.html">La Hijama</a></li>
                  <li><a href="iridologie.html">L'iridologie</a></li>
                  <li><a href="medecine.html">La médecine Chinoise</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="activities.html">Mes activités</a>
                <ul class="sous">
                  <li><a href="consultations.html">Consultations</a></li>
                  <li><a href="ateliers.html">Ateliers</a></li>
                  <li><a href="seminaire.html">Séminaire</a></li>
                  <li><a href="formations.html">Formations</a></li>
                </ul>
              </li>
              <li class="deroulant"><a href="price.html">Mes tarifs</a>
                <ul class="sous">
                  <li><a href="price-consultations.html">Consultations</a></li>
                  <li><a href="price-ateliers.html">Ateliers</a></li>
                  <li><a href="price-seminaires.html">Séminaire</a></li>
                  <li><a href="price-formations.html">Formations</a></li>
                </ul>
              </li>
              <li id="sous"><a href="contacts.html">Me contacter</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
      <div id="divMainHome">
        <p>Formée à plusieurs techniques de soins mais aussi de communication, de développement personnel et de gestion des émotions, vous trouverez ici les détails de mon approche, qui permettent de <span id="pinkText">" se soigner, s'aimer et s'épanouir "</span> :</p>
        <div class="return"></div>
        <p>Lors de la première séance, nous faisons connaissance. Vous me parlez de la ou des situations que vous souhaitez améliorer puis je vous présente plus en détail mon approche. Selon vos besoins je vous propose un protocole personnalisé, que nous réajustons tout au long de votre accompagnement.</p>
        <div class="return"></div>
        <p>Voici quelques outils que j'utilise :</p>
        <div class="return"></div>
        <a href="cleaning.html" class="button">Nettoyage et déprogrammation émotonnel</a>
        <div class="return"></div>
        <a href="sophrologie.html" class="button">La sophrologie</a>
        <div class="return"></div>
        <a href="hypnose.html" class="button">L'hypnose</a>
        <div class="return"></div>
        <a href="cardiaque.html" class="button">Cohérence cardiaque</a>
        <div class="return"></div>
        <a href="coaching.html" class="button">Le coaching</a>
        <div class="return"></div>
        <a href="gardon.html" class="button">La méthode Gordon</a>
        <div class="return"></div>
        <a href="hijama.html" class="button">La Hijama</a>
        <div class="return"></div>
        <a href="iridologie.html" class="button">L'iridologie</a>
        <div class="return"></div>
        <a href="medecine.html" class="button">La médecine traditionnel Chinoise</a>
      </div>
    </main>
    <footer id="footerMainHome">
        <p>Created by Ziyad and Enio!</p>
    </footer>
    <script src="https://kit.fontawesome.com/c1f9216a9e.js" crossorigin="anonymous"></script>
</body>
</html>